/* MainPage.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Hero Section */
.hero {
    background-image: url('https://i.pinimg.com/564x/0d/a9/a5/0da9a50662933b33be0058c240dde167.jpg');
    background-size: cover;
    background-position: center;
    color: #f4f4f4;
    text-align: center;
    padding: 100px 0;
    transition: background-color 0.5s ease;
}

.hero:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.hero h1 {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.hero p {
    font-size: 22px;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 0 10px;
    padding: 15px 30px;
    background-color: #00b3ff;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons button:hover {
    background-color: #8a00b3;
    transform: scale(1.05);
}

/* About Us Section */
.about-us {
    background-color: #e5f6fd; /* Light blue background */
    padding: 50px 0;
}

.about-us h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif; /* Different font */
    text-align: center;
}

.about-us h2:hover {
    color: #b300ff; /* Change the text color on hover */
}

.about-us p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-us ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.about-us ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.about-us ul li strong {
    font-weight: bold;
}

/* FAQs Section */
.faqs {
    background-color: #fde5e8; /* Light pink background */
    padding: 50px 0;
}

.faqs h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Verdana', sans-serif; /* Different font */
    text-align: center;
}

.faqs h2:hover {
    color: #b300ff; /* Change the text color on hover */
}

.faqs ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.faqs ol li {
    font-size: 18px;
    margin-bottom: 40px;
}

.faqs ol li h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.faqs ol li p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}
