.task-management-page {
    padding: 20px;
    background-color: #f8f8f8;
    color: #333;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.add-task-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-task-btn:hover {
    background-color: #0056b3;
}
